<div class="top">

<%= image_tag("img-1", :class => 'image-home', :alt => "rss feed") %>


    <div class="container home-title" >
        <h1 class>Create and share Stories</h1>
    </div>
</div>

<div class="tagline">
    <h2>Relive and share your adventures</h2>
    <p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>


<div>
    <div class="discover">
        <a class="btn-2">
            <%= link_to "Sign Up", 'about', :class => "btn btn-primary" %>
        </a>
    </div>
</div>



